@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.gold {
    color: #F79F1A;
}
.green {
    color: #046e1b
}
.grey {
color: #292727;
}

.gold-bg {
    background-color: #F79F1A;
}
.green-bg {
    background-color: #046e1b
}
.grey-bg {
    background-color: #292727;
}

.montserrat-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container {
    @apply container px-8 items-center justify-center
}

.router-link-active {
    color: #046e1b;
}

.nav-item:hover {
    color: #F79F1A;
}